<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "il.Road.to.Recovery"
        version   = "1.1.0">
    <name>בדרך להחלמה</name>
    <description>
        R2R
    </description>
    <author href="http://dev.r2r.com" email="road2rdev@gmail.com">
        R2R
    </author>

  <icon src="icon.png" />
  
  <preference name='phonegap-version' value='cli-7.0.1' /> <!--work 7.0.1-->
  <preference name='pgb-builder-version' value='2' /> <!--New Builder-->
  
  <allow-navigation href="*" />
  
  <platform name="android"> 
    <resource-file src="google-services.json" target="app/google-services.json" />
    <resource-file src="google-services.json" target="google-services.json" />   
    <preference name="android-targetSdkVersion"  value="27" />
  </platform>
  
  <plugin name="cordova-support-google-services" source="npm" spec="^1.0.0" />
  <plugin name="cordova-plugin-console" source="npm" spec="~1.0.3" />
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.1" />
  <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
  <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.3" />
  <plugin name="phonegap-plugin-push" source="npm" spec="2.0.0"> <!--work 2.0.0--> 
    <variable name="SENDER_ID" value="148075927844" />
    <variable name="FCM_VERSION" value="15.0.0" />
  </plugin>

</widget>