<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <globalization uiCulture="he-IL" culture="he-IL" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Try increasing this value to a larger value (Int.MaxValue used below) -->
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--<connectionStrings>

    <add name="db"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup91_test2;
           User ID=igroup91;Password=igroup91_27005" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<connectionStrings>-->
  <!--<add name="db"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup54_test1;
           User ID=bgroup54;Password=bgroup54_99992" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="serverKey" value="AIzaSyDQfirNkIkUKNy9B2irYhb8CV6pYpIVBOQ" />
  </appSettings>

  <connectionStrings>
    <add name="db" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup64_test2;User ID=bgroup64;Password=bgroup64_50141" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>