<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "il.Road.to.Recovery"
        version   = "1.6.5">
  <name>בדרך להחלמה</name>
  <description>
    R2R
  </description>
  <author href="http://dev.r2r.com" email="road2rdev@gmail.com">
    R2R
  </author>

  <icon src="icon.png" />

  <preference name='phonegap-version' value='cli-8.1.1' />
  <preference name='pgb-builder-version' value='2' />

  <allow-navigation href="*" />
  <access origin="*" />
  <allow-intent href="tel:*" />

  <platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json" />
    <preference name="android-targetSdkVersion" value="27" />
  </platform>
 
  <plugin name="cordova-support-google-services" source="npm" spec="~1.1.0" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
  
  <plugin name="phonegap-plugin-push" source="npm" spec="~2.2.3">
    <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
    <variable name="FCM_VERSION" value="11.6.2" />
  </plugin>

</widget>